.app{
	display: grid;
	height: 100vh;
	align-items: center;
	justify-content: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.app-inner{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	width: 700px;
	height: 500px;
	box-shadow: 0px 2px 21px 0px rgba(0, 0, 0, 0.44);
	border-radius: 4px;
	background-color: #ffffff;
}

.app-inner__col--first{
	display: grid;
	grid-template-rows: 1fr 94px 104px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	color: #fff;
}

.app-inner__col--last{
	display: grid;
	justify-items: center;
	padding-top: 28px;
	padding-bottom: 28px;
	padding-left: 40px;	
	padding-right: 40px;
	color: #832D34;
}